<div class="main-message">
  <div class="main-message-info">
    <div class="main-message-name"><%= message.user.name %></div>
    <div class="main-message-date"><%= message.created_at %></div>
  </div>
  <div class="main-message-text"><%= message.content %></div>
</div>
