<div class="side-header">
  <div class="user-name">
    <a href="#">Jasper</a>
  </div>
  <div class="create-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-main">
  <div class="room-list">
    <div class="room-name">
      <a href="#">Room1</a>
    </div>
  </div>
  <div class="room-list">
    <div class="room-name">
      <a href="#">Room2</a>
    </div>
  </div>
</div>
