<div class="side-header">
  <div class="side-user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-chat-btn">
    <%= link_to "チャットを作成する", new_room_path, method: :get %>
  </div>
</div>
<div class="side-main">
  <% current_user.rooms.each do |room| %>
    <div class="side-room-list">
      <div class="side-room-name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>
